/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom CSS below */
:root {
}

body {
  @apply font-poppins;
  font-size: 14px;
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
